<div class="container cmm" *ngFor="let comment of comments">
  <div class="row">

    <!--    <div class="col-md-5">-->
    <!--&lt;!&ndash;      <strong class="d-inline-block text-dark">{{comment.userByIdUser?.username}}</strong>&ndash;&gt;-->
    <!--      <strong class="d-inline-block text-dark" routerLink="/otherUser"-->
    <!--              [queryParams]="{id: comment.userByIdUser.id}">{{comment.userByIdUser?.username}}</strong>-->
    <!--    </div>    -->
    <div class="col-md-5">
      <strong class="d-inline-block text-dark" (click)="routUser(comment.userByIdUser?.id)">
        {{comment.userByIdUser?.username}}
      </strong>
    </div>

    <div class="col-md-5">
      <div class="mb text-muted">{{comment.dataPost | date : 'M/d/yy'}}</div>
    </div>


    <div class="col-md-1" *ngIf="comment.userByIdUser.id===userService.currUser.id">
      <i class="fa fa-minus-square" (click)="_deleteComment(comment.id)"></i>
    </div>
  </div>

  <div class="row">
    <div class="col-md" style="word-break: break-all">
      <div class="container mb-auto">{{comment.tex}}</div>
    </div>
  </div>

</div>

<div *ngIf="comments?.length!==0 && page?.totalElements/size > 1" class="row justify-content-center mt-5 ">
  <pagination [boundaryLinks]="true" [itemsPerPage]="size" [totalItems]="page?.totalElements"
              (pageChanged)="pageChanged($event)" [(ngModel)]="currentPage"
              previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
  </pagination>
</div>
