<div class="align-content-lg-center b">
  <button class="btn selected" (click)="getComplaint(this.currentPage, 2)">Not Reviewed</button>
  <button class="btn" (click)="getComplaint(this.currentPage, 1)">Reviewed</button>
</div>
<div *ngIf="complaints == null" style="text-align: center; color: lightcoral">No reports!</div>
<div class="col" *ngFor="let complaint of complaints">
  <div class="container">
    <div class="comp">
      <!--      <strong class="d-inline-block mb-10 text-dark">User id: {{complaint.idUser}}</strong>-->
      <div class="mb-1 text-muted">{{complaint.dateComplaint | date}}</div>
      <p>Status complaint: {{complaint.idStatusComplaint}}</p>
      <p>2 - not reviewed / 1 - reviewed</p>
      <!--      <p>Status complaint: {{complaint.idStatusComplaint}}</p>-->
      <p>Post id: {{complaint.idPost}}</p>
      <br>
      <p class="h5">Reason for complaint:</p>
      <p> {{complaint.complaint}}</p>
      <br>
      <div class="row">
        <div class="col">
          <button class="btn btn-danger co" (click)="changeStatusComplaint(complaint.id)">
            <ng-container *ngIf="complaint.idStatusComplaint===1">Mark as not viewed</ng-container>
            <ng-container *ngIf="complaint.idStatusComplaint===2">Mark as viewed</ng-container>
          </button>
        </div>
        <div class="col">
          <button class="btn btn-danger co" (click)="_deleteComplaint(complaint.id)">Delete report</button>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col">
          <button class="btn btn-danger co" (click)="_deletePost(complaint.idPost)">Delete post</button>
        </div>
        <!--        <div class="col">-->
        <!--          <button class="btn btn-danger co" (click)="blockUserByPostId(complaint.idPost)">-->
        <!--            <ng-container *ngIf="complaint.idStatusComplaint===2">Unblock user</ng-container>-->
        <!--            <ng-container *ngIf="complaint.idStatusComplaint===1">Block user</ng-container>-->
        <!--          </button>-->
        <!--        </div>-->
      </div>
    </div>
  </div>
</div>

<div *ngIf="complaints?.length!==0" class="row justify-content-center mt-5 ">
  <pagination [boundaryLinks]="true" [itemsPerPage]="size" [totalItems]="page?.totalElements"
              (pageChanged)="pageChanged($event)" [(ngModel)]="currentPage"
              previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
  </pagination>
</div>
