<form class="form-signin mr-auto ml-auto" id="entryform">
  <div class="text-center mb-4">
    <h1 class="h3 mb-3 font-weight-normal">Photogram</h1>
  </div>

  <form [formGroup]="signInForm">

    <div class="form-group">
      <br>
      <input formControlName="username" type="username" id="inputUsername" class="form-control"
             placeholder="Username" required autofocus>
    </div>
    <div *ngIf="isControlInvalid('username')" class="alert alert-danger">
      Incorrect username
    </div>
    <div class="form-label-group">
      <br>
      <input formControlName="password" type="password" id="inputPassword" class="form-control" placeholder="Password"
             required>
    </div>
    <div *ngIf="isControlInvalid('password')" class="alert alert-danger">
      Incorrect password
    </div>
    <br>
    <div *ngIf="errorMassage!=null" class="alert alert-danger">{{errorMassage}}</div>
    <br>
    <button class="btn btn-lg btn-primary btn-block" type="submit" [disabled]="signInForm.invalid || errorMassage!=null" (click)="signIn()">To come in</button>

    <p class="mt-5 mb-3 text-muted text-center">Don't have an account yet?
      <a routerLink="/registration">Sign up</a></p>
    <p class="mt-5 mb-3 text-muted text-center">&copy; 2019-2020</p>
  </form>
</form>
